Makefile
autom4te.cache
config.h
config.log
config.status
libtool
stamp-h1
src/.deps
src/.libs
src/Makefile
src/WhySynth_gtk
src/whysynth.la
src/*.lo
test/.deps
test/.libs
test/Makefile
test/Makefile.in
test/filter_sweep_test.wav
test/whysynth_voice_render_test
Makefile.in
aclocal.m4
config.h.in
configure
ltmain.sh
tags
test/vcf_2pole_sweep_test.wav
test/vcf_4pole_sweep_test.wav
test/vcf_amsynth_sweep_test.wav
test/vcf_bandpass_sweep_test.wav
test/vcf_clip4pole_sweep_test.wav
test/vcf_highpass_2pole_sweep_test.wav
test/vcf_highpass_4pole_sweep_test.wav
test/vcf_highpass_sweep_test.wav
test/vcf_mvclpf_sweep_test.wav
test/vcf_bandreject_sweep_test.wav
